In [61]:
from pyserini.index.lucene import IndexReader
import pandas as pd

In [13]:
index_reader = IndexReader("../indexes/imdb")
hf_index_reader = IndexReader("../indexes/bpe-imdb-25k")

In [51]:
def term_generator():
    for i in index_reader.terms():
        yield {"term":i.term, "cf":i.cf, "df":i.df}
    
def hf_term_generator():
    for i in hf_index_reader.terms():
        yield {"term":i.term, "cf":i.cf, "df":i.df}

In [14]:
index_reader.stats()

{'total_terms': 3994314,
 'documents': 25000,
 'non_empty_documents': 25000,
 'unique_terms': -1}

In [15]:
hf_index_reader.stats()

{'total_terms': 7427390,
 'documents': 25000,
 'non_empty_documents': 25000,
 'unique_terms': -1}

In [52]:
terms = [d for d in term_generator()]
hf_terms = [d for d in hf_term_generator()]

In [65]:
pd.DataFrame(terms).sort_values(["cf","df"], ascending=False).head(25)

        term      cf     df
7052      br  101871  14666
23971      i   76514  19174
33063   movi   51582  16219
17907   film   48132  14913
22210   have   30270  14858
55403    you   29888  12888
22291     he   29818  10304
22809     hi   29411  10705
35453     on   27709  14369
2474     all   23935  13064
28840   like   22790  12572
54165    who   21336  11319
45540     so   20578  11696
19096   from   20488  11711
22643    her   18529   6502
26284   just   17765  10550
1519   about   17369  10490
35874    out   17268  10689
21591     ha   16973  10108
54013   what   16235   9967
49565   time   16156  10330
45704   some   15734   9636
20605   good   15331   9741
30213   make   15205   9742
32835   more   14262   9070

In [66]:
pd.DataFrame(hf_terms).sort_values(["cf","df"], ascending=False).head(25)

         term      cf     df
23503    Ġthe  287209  24667
110         ,  262195  23917
126         .  231160  24646
12927      Ġa  155703  24059
13320    Ġand  153757  23978
20023     Ġof  143566  23685
23642     Ġto  133525  23430
18631     Ġis  106032  22365
2506       br  102275  14760
18246     Ġin   87084  21729
18641     Ġit   76906  21045
9727       ĠI   75659  18800
23501   Ġthat   69954  20046
75         's   62045  17880
23553   Ġthis   60321  20972
7082     Ġ/><   50935  14665
7070      Ġ/>   49235  14552
24439    Ġwas   47807  16112
117         -   46190  14086
19664  Ġmovie   42968  15112
13534     Ġas   42740  15424
24619   Ġwith   42539  17201
17177    Ġfor   41848  17475
17014   Ġfilm   39544  13828
159        .<   36750  13046